<style>
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<head>
    <title>View</title>

</head>
{% extends 'components/base.html' %}
{% block content %}
<div class="container mx-auto px-4 sm:px-8">
    <div class="d-flex inline-flex">
        <input class="p-2 inline-flex items-center" placeholder="Search...">
        <button type=""
            class="p-2 pr-3 text-md text-white bg-blue-700 rounded-md border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg
                class="w-5 h-5" fill="none" stroke="currentColor" 
                >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
        </button>
    </div>

    <div class="py-8">

        <div>
            <h2 class="text-2xl font-semibold leading-tight">ตารางข้อมูล</h2>
        </div>

        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">


            <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">

                <table class="min-w-full leading-normal">
                    <thead>
                        <tr>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-300 bg-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Name
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-300 bg-gray-200 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Description
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-300 bg-gray-200 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Quantity
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-300 bg-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Price
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-300 bg-gray-200 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Is Available
                            </th>
                            <th
                                class="px-5 py-3 border-b-2 border-gray-300 bg-gray-200 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in object %}
                        <tr>
                            <td class="text-left px-5 py-5 border-b border-gray-200 bg-white text-sm ">
                                {{x.name}}
                            </td>
                            <td class="text-center px-5 py-5 border-b border-gray-200 bg-white text-sm ">
                                {{x.description}}
                            </td>
                            <td class="text-center px-5 py-5 border-b border-gray-200 bg-white text-sm ">
                                <div>
                                    {% if x.quantity <= 100 %} <p style="font-size:22px;color: green">
                                        {{x.quantity|floatformat:'g'}}</p>
                                        {% else %}
                                        <p style="font-size:22px;color: red">{{x.quantity|floatformat:'g'}}</p>
                                        {% endif %}
                                </div>
                                <!-- {{x.quantity|floatformat:'g'}} -->
                            </td>
                            <td class="text-left px-5 py-5 border-b border-gray-200 bg-white text-sm ">
                                {{x.price|floatformat:'g'}}
                            </td>
                            <td class="text-center px-5 py-5 border-b border-gray-200 bg-white text-sm ">
                                <div>
                                    {% if x.is_available %}
                                    <i class="material-icons" style="font-size:22px;color: green">check</i>
                                    {% else %}
                                    <i class="material-icons" style="font-size:22px;color: red">close</i>
                                    {% endif %}
                                </div>

                                <!-- {{x.is_available}} -->
                            </td>
                            <td class="text-center px-5 py-5 border-b border-gray-200 bg-white text-sm ">
                                <!-- <a href="/update/{{x.id}}"> edit </a>|<a href="/delete/{{x.id}}"> del </a> -->
                                <a class="cursor-pointer" id="{{x.id}}" onclick="openEditModal(id)">EDIT</a> |
                                <a class="cursor-pointer" id="{{x.id}}" onclick="openDelModal(id)">DEL</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div>

                <button onclick="openAddModal()"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="float:right;">
                    add
                </button>

            </div>
        </div>
        <!-- modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content w-fit rounded-md bg-transparent border-none">
                <div class="flex items-center justify-center mx-auto">
                    <div class="mx-auto w-fit flex items-center justify-center">
                        <form action="/" method="POST" id="data_form" class="bg-white rounded-md drop-shadow-md"> 
                            {% csrf_token %}
                            <span class="close mr-2">&times;</span>
                            <div class="p-10">
                                <div>
                                    <label class="mb-3 block text-base font-medium text-[#07074D]">
                                        Name :
                                    </label>
                                    <input name="name" id="name" required
                                        class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'>

                                </div>
                                <div class="mb-5">
                                    <label class="mb-3 block text-base font-medium text-[#07074D]">
                                        Description
                                    </label>
                                    <input name="desc" required
                                        class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'>
                                    <!-- {{form.description}} -->
                                </div>
                                <div class="mb-5">
                                    <label class="mb-3 block text-base font-medium text-[#07074D]">
                                        Quantity
                                    </label>
                                    <input name="qty" type="number" required
                                        class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'>
                                    <!-- {{form.quantity}} -->
                                </div>
                                <div class="mb-5">
                                    <label class="mb-3 block text-base font-medium text-[#07074D]">
                                        Price
                                    </label>
                                    <input name="price" type="number" required
                                        class='w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'>
                                    <!-- {{form.price}} -->
                                </div>
                                <div class="mb-5 d-flex">
                                    <label class="mb-3 block text-base font-medium text-[#07074D]">
                                        Is available :
                                        <input name="is_avbl"
                                            class='rounded-md border border-[#e0e0e0] bg-white text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md'
                                            type="checkbox">
                                        <!-- {{form.is_available}} -->
                                    </label>
                                </div>
                                <input
                                    class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                    type="submit" value="Save" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- modal -->
        <!-- delete modal -->
        <div id="delModal"
            class="bg-slate-800 bg-opacity-50 flex justify-center items-center absolute top-0 right-0 bottom-0 left-0 hidden">

            <div class="bg-white rounded-md text-center">
                <span onclick="closeDelModal()" class="close mr-2">&times;</span>
                <div class="px-16 py-14">
                    <h1 id="deltxt" class="text-xl mb-4 font-bold text-slate-500">คุณยืนยันที่จะลบหรือไม่?</h1>
                    <button onclick="closeDelModal()"
                        class="bg-red-500 px-4 py-2 rounded-md text-md text-white">ยกเลิก</button>
                    <button onclick="delData()"
                        class="bg-indigo-500 px-7 py-2 ml-2 rounded-md text-md text-white font-semibold">ตกลง</button>
                </div>
            </div>
        </div>
        <!-- delete modal -->
    </div>
</div>
<script>
    // Get the modal
    let tempDel
    var modal = document.getElementById("myModal");
    var delModal = document.getElementById("delModal");
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    function closeDelModal() {
        tempDel = null
        delModal.style.display = "none";
    }
    function openDelModal(id) {
        console.log(id);
        tempDel = id;
        // response = requests.post(id)
        // console.log(response)
        delModal.style.display = "flex";
    }
    function delData() {
        location.href = `/delete/${tempDel}`;
    }
    function openEditModal(id) {
        values = document.getElementById('name')
        console.log(values);
        // values.value = '{{object.0}}'
        form = document.getElementById('data_form')
        form.action = `/update/${id}/`;
        // response = requests.post(id)
        // console.log(response)
        modal.style.display = "block";
    }
    function openAddModal() {
        form = document.getElementById('data_form')
        form.action = `create/`;
        // response = requests.post(id)
        // console.log(response)
        modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{%endblock%}